body{
    margin:0;
}

fieldset{
    margin: 30px 0;
}

#info{
    position: fixed;
    background-color: lightgray;
    color: white;
    top: 0;
    width: 100%;
    padding: 5px;
    margin-bottom: 30px;
}

.titre{
    font-weight: bold;
    padding: 10px;
    margin: 10px;
}

.zone1, .zone2, .zone3, .zone4, .zone5, .zone6, .zone7, .zone8, .zone9, .zone10, .zone11, .zone12, .zone13, .zone14, .zone15 { 
    background: LightSkyBlue; 
    padding: 20px; 
    margin: 20px; 
}

input, textarea, select{
    width: 100%;
    padding: 5px;
}
